div.database-form {
    margin-left: 5%;
    margin-right: 5%
}

div.widget-property-names {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    
}

.widget-property-names.row .col.m8ths {
    width: 12%;
    border: 1px solid black;
    background: #d8d8d8;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}