td.delete-button-img{
  vertical-align: top;
  padding-top: 20px
}

td.delete-button-img img{
  vertical-align: top;
  transition: all 0.1s ease-in-out;
  width:30px;
  height: auto;
}

img.delete-button-x:hover { 
  cursor: pointer;
  opacity: 0.3;
}

span.Collapsible__trigger:hover {
  cursor: pointer
}