div.add-widget-row2 , div.add-widget-row1 {
  padding-top: 0px;
  margin: 0px;
}

div.submit-button-row {
  margin-top: 20px;
}

button.add-widget-submit-btn:hover {
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
}