
/* Properties Row */
div.widget-properties {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    overflow: hidden;
    
}

.row .db-widget-property.col.m8ths {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    width: 12%;
    border: 1px solid black;
    background: #ededed;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;

}

.edit.btn.col.m8ths, .delete.btn.col.m8ths {
    width: 12%;
    border: 1px solid black;
    height: inherit;
    
}
