
/* Properties Row */
div.widget-properties {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    overflow: hidden;
    padding-left: 2.5%;
    max-width: 1200px
}

.row .db-widget-property.col.m8ths {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    width: 12%;
    border: 1px solid black;
    background: #ededed;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;
}

.edit-widget-property {
    width: 12%;
    background: #ededed;
    border: 1px solid black;

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.edit.btn.col.m8ths, .delete.btn.col.m8ths {
    width: 12%;
    border: 1px solid black;
    height: inherit;  
    transition: all 0.2s ease-in-out;
}

.edit.btn.col.m8ths:hover, .delete.btn.col.m8ths:hover { 
    opacity: 0.75;
    padding-left: 3%
}

div.edit-col {
    margin-left: 10px;
    margin-right: 10px;
}